### Ignore data and output folders
data/
output/


### Ignore checkpoints and cache
.ipynb_checkpoints/
__pycache__/

### Ignore these notebooks for now
code/05b_MetaDEGs.ipynb
code/07_CellOracle_GRN_test.ipynb
code/08_test_figures.ipynb
code/__pycache__/
code/cache/
code/scVelo_and_CellOracle/scVelo/Loom Files/Loom Data

.DS_Store